*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /*display: flex;*/
    justify-content: center;
    text-align: center;
    align-items: center;
}

body div{
    margin: 25px;
}

.logos,
.divFormulario{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.divFormulario,
.divFormulario p{
    margin: 15px;
    padding: 15px;
}

